{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container" style='padding-top:30px;'>



  {% for guest in guests %}
  <div class="container" id = "muses-section">
    <div class="col-md-12 col-sm-12">
  <h3 class='muses-head' style='text-align:center;'>{{guest.name}}</h3>
  <hr>

    <div class='col-md-12 col-sm-12' id="image-container-table">
      <div class="row">
        <div class='col-md-3 col-md-6' id='image-container-cell'>
          <img class='col-12' id='muses-image ' src="{{guest.thumbnail.url}}" alt="please check your code">
        </div>
        <div class='col-md-3 col-md-6' id='image-container-cell'>
        <div id="carousel-example-1z" class="carousel slide carousel-fade" data-ride="carousel">
           <!--Indicators-->
           <ol class="carousel-indicators">
             {% for image in images %}
               {% if guest.name == image.model.name %}
             <li data-target="#carousel-example-1z" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter0 == 0 %} active {% endif %}"></li>
             {% endif %}
           {% endfor %}
           </ol>
           <!--/.Indicators-->
           <!--Slides-->
           <div class="carousel-inner" role="listbox">
             {% for image in images %}
               {% if guest.name == image.model.name %}
             <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">

               <img  class="col-12" id='muses-image 'src="{{image.image.url}}"
                 alt="First slide">

                 <!--Controls-->
                 <a class="carousel-control-prev" href="#carousel-example-1z" role="button" data-slide="prev">
                   <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                   <span class="sr-only">Previous</span>
                 </a>
                 <a class="carousel-control-next" href="#carousel-example-1z" role="button" data-slide="next">
                   <span class="carousel-control-next-icon" aria-hidden="true"></span>
                   <span class="sr-only">Next</span>
                 </a>
                 <!--/.Controls-->
             </div>


             {% endif %}
           {% endfor %}

             </div>
         </div>
         </div>


      </div>
    </div>

  <p class='postcontent'>{{ guest.text|safe|linebreaksbr }}</p>
  </div>
    </div>
  <hr>
  {% endfor %}
</div>
{% endblock %}
